/*               
* ████████╗██████╗ ███████╗███████╗       
* ╚══██╔══╝██╔══██╗██╔════╝██╔════╝       
*    ██║   ██████╔╝█████╗  █████╗         
*    ██║   ██╔══██╗██╔══╝  ██╔══╝         
*    ██║   ██║  ██║███████╗███████╗       
*    ╚═╝   ╚═╝  ╚═╝╚══════╝╚══════╝       
                                        
* ███████╗███████╗███████╗██╗     ███████╗
* ██╔════╝██╔════╝██╔════╝██║     ██╔════╝
* █████╗  █████╗  █████╗  ██║     ███████╗
* ██╔══╝  ██╔══╝  ██╔══╝  ██║     ╚════██║
* ██║     ███████╗███████╗███████╗███████║
* ╚═╝     ╚══════╝╚══════╝╚══════╝╚══════╝                                        
* by theposintech (2023)
* ----------------------------------------
*/

@define-color mainColor #183136;
@define-color lightColor #8797A4;

@define-color workspaceActive #8797A4;
@define-color workspaceInactive #1A3347;

@define-color borderColor #1A3347;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "Fira Sans Semibold", "Font Awesome 6 Free", FontAwesome,  Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0);
    border-bottom: 0px solid #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    background: @mainColor;
    margin: 6px 1px 6px 1px;
    padding: 0px 1px;
    border-radius: 20px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: @lightColor;
}

#workspaces button {
    margin: 4px 3px;
    border-radius: 20px;
    border: 0px;
    color: @lightColor;
    transition: all 0.3s ease-in-out;
    background: @workspaceInactive;
}

#workspaces button.active {
    color: @mainColor;
    background: @workspaceActive;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @mainColor;
    background: @workspaceActive;
    border-radius: 15px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 10px;
    background-color: @mainColor;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @lightColor;
}

/* -----------------------------------------------------
 *	Left Modules 
 * ----------------------------------------------------- */

#left-modules {
    background: @mainColor;
    color: @lightColor;
    margin: 5px 1px 6px 1px;
    padding: 1px 1px;
    border-radius: 20px;
    border: 0px;
}

/* -----------------------------------------------------
 *	Right Modules 
 * ----------------------------------------------------- */

#right-modules {
    background: @mainColor;
    color: @lightColor;
    margin: 5px 1px 6px 1px;
    padding: 1px 1px;
    border-radius: 20px;
    border: 0px;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    background: @mainColor;
    margin: 10px 15px 10px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 12px;
    color:@lightColor;
    font-size:16px;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-system,
#custom-themeswitcher {
    margin-right: 23px;
    font-size: 20px;
    font-weight: bold;
    color: @lightColor;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
    font-size: 16px;
    color: @lightColor;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 10px;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

 #disk,#memory,#cpu,#language {
    margin:0px;
    padding:0px;
    font-size:16px;
    color: @lightColor;
}

#language {
    margin-right:10px;
}

#keyboard-state {
	margin-right:10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    font-size: 16px;
    color: @lightColor;
    padding: 2px 10px 0px 10px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    font-size: 16px;
    color: @lightColor;
    padding: 2px 10px 0px 15px;
}

#pulseaudio.muted {
	color: @lightColor;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    font-size: 16px;
	color: @lightColor;
    padding: 2px 25px 0px 10px;
}

#network.ethernet {
    background-color: transparent;
	color: @lightColor;

}

#network.wifi {
    background-color: transparent;
	color: @lightColor;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

 #bluetooth, #bluetooth.on, #bluetooth.connected {
    font-size: 16px;
	color: @lightColor;
    padding: 2px 10px 0px 10px;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    font-size: 16px;
	color: @lightColor;
    padding: 2px 15px 0px 10px;
}

#battery.charging, #battery.plugged {
	background-color: transparent; 
	color: @lightColor;
}

@keyframes blink {
    to {
		background-color: transparent; 
		color: @lightColor;
    }
}

#battery.critical:not(.charging) {
	color: @lightColor;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}
